<h2>Template Driven Form</h2>
<div class="container mt-4">
  <form #signInForm = "ngForm" (ngSubmit) = "loginUser(signInForm)">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" ngModel required #emailField = "ngModel" email>
      <div class="form-text text-muted" id="smallField"
      *ngIf = "emailField.touched && !emailField.valid">Enter email address</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" ngModel required minlength="3">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="check" name="check" ngModel>
      <label class="form-check-label" for="check" >Agree to t&c</label>
    </div>
    <button type="submit" class="btn btn-primary"
    [disabled]="!signInForm.valid ">Submit</button>
  </form>

</div>
