<h1>Reactive form</h1>
<div class="container mt-5">
  <form [formGroup] = "checkInForm" (ngSubmit)="postData()">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3"
        formControlName ="emailAddr">
        <span *ngIf= " checkInForm.get('emailAddr').touched && checkInForm.get('emailAddr').hasError('required')">
          Enter email address
        </span>
        <span *ngIf= " checkInForm.get('emailAddr').touched && checkInForm.get('emailAddr').hasError('email')">
         Enter valid email address
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" formControlName ="password">
      </div>
      <span class="offset-md-2" *ngIf= " checkInForm.get('password').touched && checkInForm.get('password').hasError('required')">
        Enter password
      </span>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName ="terms">
          <label class="form-check-label" for="gridCheck1">
           terms & conditions
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Items</label>
      <div class="col-sm-10" formArrayName = "items">
        <div *ngFor = "let item of checkInForm.controls.items['controls'];let i=index" [formGroupName]="i">
        <input type="text" id="" class="form-control" formControlName = "itemId" placeholder="itemId">
        <input type="text" id="" class="form-control" formControlName = "itemName"
        placeholder="itemName">
        <input type="text" id="" class="form-control" formControlName = "itemDesc"
        placeholder="itemDesc">
        <br><br>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary"
        [disabled]="!checkInForm.valid">Sign in</button>
        <button type="reset" class="btn btn-outline-success"
        (click) = "resetForm()">Clear</button>
        <button type="submit" class="btn btn-outline-secondary"
        (click) = "addNewItem()">Add item</button>
      </div>
    </div>
  </form>

</div>
